.navbar {
    margin-bottom: 1rem;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.table-container {
    margin-top: 1rem;
}
.table-title {
    flex-grow: 1;
    cursor: pointer;
}
.table-title h5 {
    margin: 0;
    align-self: center;
}